<app-header></app-header>
<div class="container wrapper">
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <h3>Edit Product </h3> 
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <form class="login-form" [formGroup]="addProductForm">
                <div class="form-group">
                    <label for="user">Product Name</label>
                    <input type="text" class="form-control" formControlName="productName"  placeholder="Enter Product Name" id="user">
                </div>
                <button type="submit" class="btn btn-primary" (click)="addProduct()">Submit</button>
            </form>
        </div>
    </div>
    
</div>